.audience-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--primary-padding);
}
.audience-section-tabs input{
  display: none;
}
.audience-section-tabs{
  display: flex;
  gap: 1rem;
}
.audience-section-tabs label{
  border: 1px solid;
  padding: 0.5rem 2rem;
  border-radius: var(--secondary-border-radius);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}  
#creators + label:hover{
  background-color: var(--pink-card-bg);
} 
#small-business + label:hover{
  background-color: var(--yellow-card-bg);
}
#agencies + label:hover{
  background-color: var(--blue-card-bg);
}
#creators:checked + label {
  background-color: var(--pink-card-bg);
} 
#small-business:checked + label {
  background-color: var(--yellow-card-bg);
} 
#agencies:checked + label {
  background-color: var(--blue-card-bg);
} 
.audience-section:has(#creators:checked) .creators-content{
  display: grid;
}
.audience-section:has(#small-business:checked) .business-content{
  display: grid;
}
.audience-section:has(#agencies:checked) .agencies-content{
  display: grid;
}
.audience-section-content-wrapper{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: clamp(1rem, 3vw, 8rem);
  gap: 2rem;
  display: none;
}
.audience-section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.audience-section-content h1{
  width: 100%;
  font-weight: 500;
  line-height: 1.3;
  padding-bottom: 24px;
}
.audience-section-content-description{
  line-height: 1.5;
  padding-bottom: 2rem;
}
.audience-section-content-usp p{
  line-height: 2;
}
.audience-section-content-card{
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 1.5rem;
  border-radius: var(--primary-border-radius);
}
.creators-content .audience-section-content-card{
  background-color: var(--pink-card-bg);
}
.business-content .audience-section-content-card{
  background-color: var(--yellow-card-bg);
}
.agencies-content .audience-section-content-card{
  background-color: var(--blue-card-bg);
}
.audience-section-content-card h2{
  font-weight: 400;
}
.creators-content h2{
  color: rgb(100, 64, 117);
}
.business-content h2{
  color: rgb(126, 85, 7);
}
.audience-section-content-card-profiles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.profile{
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  padding: 2rem;
  border-radius: var(--primary-border-radius);
  position: relative;
}
.creators-content .profile{
  background-color: #f6cdfd;
}
.business-content .profile{
  background-color: rgb(254, 239, 209);
}
.agencies-content .profile{
  background-color: rgb(243, 247, 250);
}
.profile img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.profile p{
  text-align: center;
}
@media (max-width: 767px) {
  .audience-section-tabs label{
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
  .audience-section-content h1{
    width: 75%;
  }
  .audience-section-content-wrapper{
    grid-template-columns: 1fr;
  }
  .audience-section-content-card-profiles{
    grid-template-columns: 1fr;
  }
}
@media(min-width: 768px) and (max-width: 1024px){
  .audience-section-content h1{
    width: 80%;
  }
  .audience-section-content-wrapper{
    grid-template-columns: 1fr;
  }
}